[submodule "src/submodules/framework-api"]
	path = src/submodules/framework-api
	url = https://github.com/michael-souto/framework-api.git
[submodule "src/submodules/framework-security"]
	path = src/submodules/framework-security
	url = https://github.com/michael-souto/framework-security.git
[submodule "src/submodules/framework-core"]
	path = src/submodules/framework-core
	url = https://github.com/michael-souto/framework-core.git
[submodule "src/submodules/framework-crud"]
	path = src/submodules/framework-crud
	url = https://github.com/michael-souto/framework-crud.git
[submodule "src/submodules/framework-cloudclient"]
	path = src/submodules/framework-cloudclient
	url = https://github.com/michael-souto/framework-cloudclient.git
[submodule "src/submodules/framework-multitenant"]
	path = src/submodules/framework-multitenant
	url = https://github.com/michael-souto/framework-multitenant.git
